.menu {
  height: 100vh;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  transition: opacity 0.4s linear;
  flex-direction: column;
}
.menu-show {
  opacity: 1;
}

.menu__heading {
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  /* margin-left: clamp(4rem, 20vw, 48rem); */
}

.menu__items-link {
  color: white;
  font-size: clamp(3rem, 8vw, 8rem);
  font-family: "Space Mono", monospace;
  display: block;
  text-decoration: none;
  padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
  transition: opacity 400ms ease;
  position: relative;
  z-index: 2;
}
/* .menu__items {
  margin-left: clamp(4rem, 20vw, 48rem);
} */

.menu__items:hover > .menu__items-link {
  opacity: 0.3;
}
.menu__items:hover > .menu__items-link:hover {
  opacity: 1;
}

.menu__backgroundPattern {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1) 9%, transparent 9%),
    linear-gradient(
      45deg,
      transparent 49%,
      rgba(255, 255, 255, 0.1) 49% 51%,
      transparent 51%
    ),
    linear-gradient(
      -45deg,
      transparent 49%,
      rgba(255, 255, 255, 0.1) 49% 51%,
      transparent 51%
    );
  /* background-size: 3em 3em;
        background-color: #ffffff;
        opacity: 1
  background-image: radial-gradient(
    rgba(255, 255, 255, 0.1) 9%,
    transparent 9%
  ); */
  background-position: 0% 0%;
  background-size: 12vmin 12vmin;
  height: 100vh;
  left: 0px;
  position: absolute;
  top: 0px;
  transition: opacity 800ms ease, background-size 800ms ease,
    background-position 800ms ease;
  width: 100%;
  z-index: 1;
}

.menu__items:hover ~ .menu__backgroundPattern {
  background-size: 11vmin 11vmin;
  opacity: 0.5;
}

.menu__backgroundImage {
  background-image: url("https://images.unsplash.com/photo-1636380699390-66cd19540e16?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1959&q=80");
  background-position: center 40%;
  background-size: 110vmax;
  height: 100%;
  left: 0px;
  opacity: 0.15;
  position: absolute;
  top: 0px;
  transition: opacity 800ms ease, background-size 800ms ease,
    background-position 800ms ease;
  width: 100%;
  z-index: 0;
}

.menu__items:hover ~ .menu__backgroundImage {
  background-size: 100vmax;
  opacity: 0.1;
}
